<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Saenuri Young Adults</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='row'>
        <img src='http://www.saenurifamily.com/v2/files/attach/menu_button/33338/33339.20140309033823.menu_normal_btn.gif' />
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
